<form [formGroup]="form" (submit)="save(); formHero.reset();" #formHero >

    <input hidden formControlName="id" name="id" type="number">

    <div class="form-group">
        <input formControlName="nome" name="nome" class="form-control" type="text" placeholder="Nome do Herói">
    </div>

    <div class="form-group">
        <input formControlName="empresa" name="empresa" class="form-control" type="text" placeholder="Empresa criadora do herói">
    </div>

    <div formArrayName="habilidades">
        <div *ngFor="let item of form.controls.habilidades.controls; let i = index">

            <div class="input-group" [formGroupName]="i" style="margin-bottom: 5px">
                <input type="text" formControlName="habilidade" class="form-control" placeholder="Habilidade Nº {{i + 1}}">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger" (click)="deleteHabilidade(i)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div style="margin-top: 5px">
        <button type="button" class="btn btn-primary" (click)="addHabilidade()">
            Adicionar outra habilidade
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <br/>

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Salvar</button>

</form>

