<form [formGroup]="form" (submit)="save(); formHero.reset();" #formHero >

    <input hidden formControlName="id" name="id" type="number">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input formControlName="nome" name="nome" class="form-control" type="text" placeholder="Nome do Herói">
    </div>

    <div class="form-group">
        <label for="empresa">Empresa</label>
        <input formControlName="empresa" name="empresa" class="form-control" type="text" placeholder="Empresa criadora do herói">
    </div>

    <div class="form-group">
        <label for="habilidades">Habilidades</label>
        <input formControlName="habilidades" name="habilidades" class="form-control" type="text" placeholder="Habilidades do herói">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.pristine || !form.valid">Salvar</button>

</form>
